*{
    margin:0;
    padding:0;}

html
{
    background-color: #EDF2C5;    min-height: 100vh;
}

body{
    display: flex; flex-direction: column;   min-height: 100vh;
}
.container
{
    margin: 0 auto;
    width: 940px;
    height: 880px;
}

.header
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
    margin-bottom: 8px;
    height: 42px;
}

.header__logo
{    
    width: 271px;
    height: 42px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    line-height: 0.82;
    text-align: left;
    color: #778a50;
    margin-bottom: 8px;
}

.header__icon-btn
{
    display: flex;  
}
.header__icon{
    display: flex;
}

.header__icon__image
{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.header__line_login
{
    width: 1px;
    height: 25px;
    background-color: #778a50;
}

.header__btn
{
    margin-left: 10px;
    display: flex;
}

.header__btn div
{
    color: #778a50;
    font-family: Arial; 
    font-weight: bold;
    background-color: #EDF2C5;
    border-radius: 3px;
    border:1px #778a50 solid;
text-align: center;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}


.header__btn-LOGIN
{
    width: 60px;
}

.header__btn-JOIN
{
    width: 50px;
    margin-left: 10px;
}

.nav
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #778a50;
    border-radius: 3px;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
}

.nav__text
{
    font-family: 'Arial Black';
    text-decoration-line: none;
    font-size: 16px;
    color: #EDF2C5;
    margin-left: 30px;
    margin-right: 30px;
}

.article
{
    
}

.article__img-main_pumpkin
{
    width: 940px;
    height: 448px;
    margin-bottom: 30px;
}

.article__vegebale-contact
{
    width: 940px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.article__vegetable
{
    width: 445px;
    margin-bottom: 35px;
}

.article__vegetable__title
{
    display: flex;
    align-items: center;
    height: 45px;
    background-color: #778a50;
    color:#EDF2C5;
    border-radius: 3px;
    font-family: 'Arial Black';
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
    
}

.article__vegetable__img-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 445px;
}

.article__vegetable__img
{
    width: 140px;
    height: 140px;
}

.article__contact
{
    width: 445px;
    margin-bottom: 35px;
}

.article__contact__title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 45px;
    background-color: #778a50;
    color:#EDF2C5;
    border-radius: 3px;
    font-family: 'Arial Black';
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.article__contact__content
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #F7FBDA;
    height: 108px;
    margin-top: 15px;
    padding: 16px 15px;

}

.article__contact__content__text
{
    width: 410px;
    height: 43px;
    font-family: 'ArialMT Regular', sans-serif;
    font-size: 12px;
    color: #7D7D7D;
    line-height: 1.33em;

}

.article__contact__content__email
{
    font-family: 'ArialMT Regular', sans-serif;
    font-size: 12px;
    color: #7D7D7D;

    line-height: 1.83;
    display: flex;
    align-items: center;

}

.article__contact__content__separate-line
{
    width: 414px;
    height: 1px;
    background-color: #7D7D7D;
    margin: 15px 0;
    
}

.footer
{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #778a50;
}

.footer__copyright
{
    width: 302px;
    height: 11px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}